.gitattributes
*.pyc
*.swp
*.lock
*.ipynb
*.pid
.installed.cfg
.gitattributes
.hypothesis
.vagrant
.ipynb*
.idea
.vscode
.project
.pydevproject
.settings
.DS_Store
.coverage
*.lcov
*.sublime-project
*.sublime-workspace
*.log
/*.egg-info/
venv/
htmlcov/*
coverage.xml
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
